.footer {
  position: fixed;
  width: 100%;
  height: 53px;
  display: flex;
  bottom:0;
  border-top:1px solid #D5D5D5;
  background:#FFF;
  a {
    color: #b5b5b6;
    flex: 1;
    i{
      font-size:22px;
    }
    &.active {
      color: #188ae4;
    }
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}